{% import "../macros/icon.html" as icon %}

{% require_css %}
<style>
  #{{name}} {
    {% if module.section.overlap_section %}margin-top: -10vh;{% endif %}
    background-color: {{ module.section.bg_color.rgba or 'transparent' }};
    border-radius: {{ module.section.round_corners.top_corners or 0 }}px {{ module.section.round_corners.top_corners or 0 }}px {{ module.section.round_corners.bottom_corners or 0 }}px {{ module.section.round_corners.bottom_corners or 0 }}px;
    padding: {{ module.section.spacing.top or 0 }}px 0 {{ module.section.spacing.bottom or 0 }}px 0;
  }

  {# HEADING #}
  #{{name}} .heading {
    width: {{ module.col_1.width or 100 }}%;
  }
  
  #{{name}} .heading .eyebrow {
    margin-bottom: {{ module.col_1.eyebrow.bottom_space or 0 }}px;
    {{ 'color: ' ~ module.col_1.eyebrow.text_color.rgba ~ ';' if module.col_1.eyebrow.text_color.rgba }}
  }

  #{{name}} .heading .title {
    margin-bottom: {{ module.col_1.title.bottom_space or 0 }}px;
    {{ 'color: ' ~ module.col_1.title.text_color.rgba ~ ';' if module.col_1.title.text_color.rgba }}
  }
  
  #{{name}} .heading .highlight {
    color: {{ module.col_1.title.highlight_color.rgba }};
  }
  
  #{{name}} .text-container {
    margin-bottom: {{ module.col_1.text_area.bottom_space or 0 }}px;
  }
 
  #{{name}} .btn-container {
    display: flex;
    justify-content: start;
  }


  {# MOBILE #}
  @media (max-width: {{ theme.layout.style_opts.slim_width }}px) {
    #{{name}} {
      border-radius: {{ module.section.round_corners.top_corners_sm or 0 }}px {{ module.section.round_corners.top_corners_sm or 0 }}px {{ module.section.round_corners.bottom_corners_sm or 0 }}px {{ module.section.round_corners.bottom_corners_sm or 0 }}px;
      {{ 'padding-top: ' ~ module.section.spacing.top_sm ~ 'px;' if module.section.spacing.top_sm }}
      {{ 'padding-bottom: ' ~ module.section.spacing.bottom_sm ~ 'px;' if module.section.spacing.bottom_sm }}
    }
    
    #{{name}} .heading, #{{name}} .flex-content {
      width: 100%;
    }
    
    #{{name}} .heading .title, #{{name}} .heading .text-container {
      margin-bottom: 24px;
    }
  }
</style>
{% end_require_css %}

{### HTML ###}
<div id="{{name}}">
  <div class="container">
    <div class="heading">
      {# EYEBROW #}
      {% if module.col_1.eyebrow.text %}
      <div class="eyebrow-container">
        <{{ module.col_1.eyebrow.display_as }} class="eyebrow">
          {{ module.col_1.eyebrow.text }}
        </{{ module.col_1.eyebrow.display_as }}>
      </div>
      {% endif %}

      {# TITLE #}
      {% if module.col_1.title.text or module.col_1.title.highlight_text %}
      <div class="title-container">
        <{{ module.col_1.title.display_as }} class="title">
          {{ module.col_1.title.text }} {{ '<span class="highlight"> ' ~ module.col_1.title.highlight_text ~ '</span>' if module.col_1.title.highlight_text }}
        </{{ module.col_1.title.display_as }}>
      </div>
      {% endif %}

      {# TEXT CONTAINER #}
      {% if module.col_1.text_area.content %}
      <div class="text-container">
        {{ module.col_1.text_area.content }}
      </div>
      {% endif %}

      {# BUTTONS #}
      <div class="btn-container">
      {% for button in module.col_1.button %}
        {% if button.use_cta %}
          {% cta guid='{{ button.guid }}' %}
        {% else %}
          {% if button.text %}
          <a class="button {{ button.style_option }}"
             {% if button.url.href %}href = "{% if button.url.type == 'EMAIL_ADDRESS' %}mailto: {% elif button.url.type == 'PHONE_NUMBER' %}tel: {% endif %}{{ button.url.href }}"{% endif %}
             {% if button.open_link_in_new_tab %}target="_blank"{% endif %}
             >{{ button.text }}{% if button.use_arrow_icon %}<span>{{ icon.btn_arrow() }}</span>{% endif %}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      </div>

    </div> {# /.heading #}
  
    {# FORM #}
    <div class="form"></div>
  </div>
</div>

<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "3445699",
    formId: "{{ module.form.select_form.form_id or 'null' }}",
    css:"",
    target: ".form",
    {#submitButtonClass: "myCustomButton",#}
    onFormSubmit: "{{ module.form.select_form.redirect_url }}",
    submitButtonClass: 'hs-button primary large with-arrow',
    onFormReady: function($form){

      // Swap the Submit input element for a button element so we can style it.
      // Get a reference to the input element
      var inputElements = document.getElementsByClassName('with-arrow');
      for ( var i = 0; i < inputElements.length; i++) {

        // Create a new button element
        var buttonElement = document.createElement('button');

        // Copy the relevant properties and attributes from the input to the button
        buttonElement.className = inputElements[i].className;
        // Change the arrow class so we don't re-target the button element, and
        // add the proper arrow class.
        buttonElement.classList.remove('with-arrow');
        buttonElement.classList.add('btn--with-arrow');
        buttonElement.type = inputElements[i].type;
        buttonElement.textContent = inputElements[i].value;
        buttonElement.onclick = inputElements[i].onclick;

        // Replace the input element with the new button element
        inputElements[i].parentNode.replaceChild(buttonElement, inputElements[i]);
      }
    }
  });
</script>