{% import "../macros/icon.html" as icon %}

{% require_css %}
<style>
  #{{name}} {
    {% if module.section.overlap_section %}margin-top: -10vh;{% endif %}
    background-color: {{ module.section.bg_color.rgba or 'transparent' }};
    border-radius: {{ module.section.round_corners.top_corners or 0 }}px {{ module.section.round_corners.top_corners or 0 }}px {{ module.section.round_corners.bottom_corners or 0 }}px {{ module.section.round_corners.bottom_corners or 0 }}px;
    padding: {{ module.section.spacing.top or 0 }}px 0 {{ module.section.spacing.bottom or 0 }}px 0;
  }
  
  #{{name}} figure, #{{name}} p:last-child {
    margin: 0;
  }
  
  #{{name}} figure, #{{name}} img {
    width: 100%
  }
  
  #{{name}} .flex-container {
    align-items: {{ module.headings.alignment }};
    justify-content: space-between;
    margin-bottom: 69px;
  }

  #{{name}} .column-1 {
    width: {{ module.headings.col_1.width or 100 }}%;
  }
  
  #{{name}} .column-1 .eyebrow {
    margin-bottom: {{ module.headings.col_1.eyebrow.bottom_space or 0 }}px;
    {{ 'color: ' ~ module.headings.col_1.eyebrow.text_color.rgba ~ ';' if module.headings.col_1.eyebrow.text_color.rgba }}
  }
  
  #{{name}} .column-1 .title {
    margin-bottom: {{ module.headings.col_1.title.bottom_space or 0 }}px;
    {{ 'color: ' ~ module.headings.col_1.title.text_color.rgba ~ ';' if module.headings.col_1.title.text_color.rgba }}
  }
  
  #{{name}} .column-1 .highlight {
    color: {{ module.headings.col_1.title.highlight_color.rgba }};
  }
  
  #{{name}} .column-2 {
    width: {{ module.headings.col_2.width or 100 }}%;
  }
  
  #{{name}} .column-2 .eyebrow {
    margin-bottom: {{ module.headings.col_2.eyebrow.bottom_space or 0 }}px;
    {{ 'color: ' ~ module.headings.col_2.eyebrow.text_color.rgba ~ ';' if module.headings.col_2.eyebrow.text_color.rgba }}
  }
  
  #{{name}} .column-2 .title {
    margin-bottom: {{ module.headings.col_2.title.bottom_space or 0 }}px;
    {{ 'color: ' ~ module.headings.col_2.title.text_color.rgba ~ ';' if module.headings.col_2.title.text_color.rgba }}
  }
  
  #{{name}} .column-2 .highlight {
    color: {{ module.headings.col_2.title.highlight_color.rgba }};
  }
  
  #{{name}} .column-2 .btn-container {
    justify-content: end;
  }

  {# CARD #}
  #{{name}} .cards {
    display: grid;
    grid-template-columns: repeat({{ module.cards.num_col }}, 1fr);
    column-gap: {{ module.cards.column_gap or 0 }}px;
    row-gap: {{ module.cards.row_gap or 0 }}px;
  }

  #{{name}} .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    max-height: auto;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }
  
  #{{name}} .card.hidden {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #{{name}} .card.hover:hover {
    transform: translateY(-10px);
  }
  
  #{{name}} .card .fullname {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 6px;
  }
  
  #{{name}} .card .title {
    color: #4698CB;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
  }
  
  #{{name}} .card .description p {
    font-size: 16px;
  }
  
  #{{name}} .card .description h4 {
    margin: 0;
  }

  {# BOTTOM BTN #}
  #{{name}} .bottom-area .btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 24px;
  }
  
  #{{name}} .bottom-area .btn-container .plain {
    color: #4698CB;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%;
  }


  {# MOBILE #}
  @media (max-width: {{ theme.layout.style_opts.slim_width }}px) {
    #{{name}} {
      border-radius: {{ module.section.round_corners.top_corners_sm or 0 }}px {{ module.section.round_corners.top_corners_sm or 0 }}px {{ module.section.round_corners.bottom_corners_sm or 0 }}px {{ module.section.round_corners.bottom_corners_sm or 0 }}px;
      {{ 'padding-top: ' ~ module.section.spacing.top_sm ~ 'px;' if module.section.spacing.top_sm }}
      {{ 'padding-bottom: ' ~ module.section.spacing.bottom_sm ~ 'px;' if module.section.spacing.bottom_sm }}
    }

    #{{name}} .flex-container {
      flex-direction: column;
      align-items: start;
      margin-bottom: 24px;
      gap: 24px;
    }
    
    #{{name}} .flex-content {
      width: 100%;
    }

    #{{name}} .cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    #{{name}} .card.hover:hover {
      transform: translateY(0);
    }

    #{{name}} .bottom-area .btn-container {
      flex-direction: column;
      justify-content: center;
      margin-top: 12px;
    }
  }
  
  @media (max-width: 559px) {
    #{{name}} .cards {
      grid-template-columns: 1fr;
    }
  }
</style>
{% end_require_css %}

{### HTML ###}
<div id="{{name}}">
  <div class="container">
    <div class="flex-container">
      {# COL 1 #}
      <div class="flex-content column-1">
        {# EYEBROW #}
        {% if module.headings.col_1.eyebrow.text %}
        <div class="eyebrow-container">
          <{{ module.headings.col_1.eyebrow.display_as }} class="eyebrow">
            {{ module.headings.col_1.eyebrow.text }}
          </{{ module.headings.col_1.eyebrow.display_as }}>
        </div>
        {% endif %}

        {# TITLE #}
        {% if module.headings.col_1.title.text or module.headings.col_1.title.highlight_text %}
        <div class="title-container">
          <{{ module.headings.col_1.title.display_as }} class="title">
            {{ module.headings.col_1.title.text }} {{ '<span class="highlight"> ' ~ module.headings.col_1.title.highlight_text ~ '</span>' if module.headings.col_1.title.highlight_text }}
          </{{ module.headings.col_1.title.display_as }}>
          </div>
        {% endif %}

        {# TEXT CONTAINER #}
        {% if module.headings.col_1.text_area.content %}
        <div class="text-container">
          {{ module.headings.col_1.text_area.content }}
        </div>
        {% endif %}

        {# BUTTONS #}
        <div class="btn-container">
        {% for button in module.headings.col_1.button %}
          {% if button.use_cta %}
            {% cta guid='{{ button.guid }}' %}
          {% else %}
            {% if button.text %}
              <a class="button {{ button.style_option }}"
             {% if button.url.href %}href = "{% if button.url.type == 'EMAIL_ADDRESS' %}mailto: {% elif button.url.type == 'PHONE_NUMBER' %}tel: {% endif %}{{ button.url.href }}"{% endif %}
             {% if button.open_link_in_new_tab %}target="_blank"{% endif %}
               >{{ button.text }}{% if button.use_arrow_icon %}<span>{{ icon.btn_arrow() }}</span>{% endif %}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>

      </div> {# /.column-1 #}

      {# COL 2 #}
      {% if module.headings.num_col == 2 %}
      <div class="flex-content column-2">
        {# EYEBROW #}
        {% if module.headings.col_2.eyebrow.text %}
        <div class="eyebrow-container">
          <{{ module.headings.col_2.eyebrow.display_as }} class="eyebrow">
            {{ module.headings.col_2.eyebrow.text }}
          </{{ module.headings.col_2.eyebrow.display_as }}>
        </div>
        {% endif %}

        {# TITLE #}
        {% if module.headings.col_2.title.text or module.headings.col_2.title.highlight_text %}
        <div class="title-container">
          <{{ module.headings.col_2.title.display_as }} class="title">
            {{ module.headings.col_2.title.text }} {{ '<span class="highlight"> ' ~ module.headings.col_2.title.highlight_text ~ '</span>' if module.headings.col_2.title.highlight_text }}
          </{{ module.headings.col_2.title.display_as }}>
          </div>
        {% endif %}

        {# TEXT CONTAINER #}
        {% if module.headings.col_2.text_area.content %}
        <div class="text-container">
          {{ module.headings.col_2.text_area.content }}
        </div>
        {% endif %}

        {# BUTTONS #}
        <div class="btn-container">
        {% for button in module.headings.col_2.button %}
          {% if button.use_cta %}
            {% cta guid='{{ button.guid }}' %}
          {% else %}
            {% if button.text %}
              <a class="button {{ button.style_option }}"
             {% if button.url.href %}href = "{% if button.url.type == 'EMAIL_ADDRESS' %}mailto: {% elif button.url.type == 'PHONE_NUMBER' %}tel: {% endif %}{{ button.url.href }}"{% endif %}
             {% if button.open_link_in_new_tab %}target="_blank"{% endif %}
               >{{ button.text }}{% if button.use_arrow_icon %}<span>{{ icon.btn_arrow() }}</span>{% endif %}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        </div>

      </div> {# /.column-2 #}
      {% endif %}
    </div>

    {# CARDS #}
    <div class="cards-container">
      <div class="cards">
        {% for card in module.cards.card %}
        <a {% if card.url.href %}href="{{ card.url.href }}"{% endif %} {% if card.open_link_in_new_tab %}target="_blank"{% endif %}
           class="card{% if card.url.href %} hover{% endif %}{% if module.cards.limit_number_of_cards_to_show and loop.index > module.cards.num_cards %} hidden{% endif %}"
         >

          {# IMAGE #}
          {% if card.img.src %}
          <figure class="card-img">
            <img src="{{ card.img.src }}" alt="{{ card.img.alt }}" loading="{{ card.img.loading }}" {% if card.round_corners %}style="border-radius: {{ card.round_corners or 0 }}px;"{% endif %} />
          </figure>
          {% endif %}

          <div class="text-container">
            {# NAME #}
            {% if card.fullname %}
            <p class="fullname">{{ card.fullname }}</p>
            {% endif %}

            {# TITLE #}
            {% if card.title %}
            <p class="title">{{ card.title }}</p>
            {% endif %}
            
            {# DESCRIPTION #}
            {% if card.description %}
            <div class="description">{{ card.description }}</div>
            {% endif %}
          </div>

        </a> {# /.card #}
      {% endfor %}
      </div>

    </div> {# /.cards-container #}

    {% if module.cards.limit_number_of_cards_to_show %}
    <div class="bottom-area">
      {# BUTTON #}
      <div class="btn-container">
        <a class="button plain">Show All Cards</a>
      </div>
    </div>
    {% endif %}

  </div> {# /.container #}
</div>

{% require_js %}
<script>
document.addEventListener('DOMContentLoaded', function () {
  const btnCon = document.querySelector('#{{name}} .bottom-area');
  const btn = btnCon.querySelector('.plain');
  const cards = document.querySelectorAll('#{{name}} .cards-container .card');
  const initialLimit = {{ module.cards.num_cards }};
  let isExpanded = false;

  if (btn) {
    btn.addEventListener("click", function (event) {
      event.preventDefault();

      cards.forEach((card, index) => {
        if (isExpanded && index >= initialLimit) {
          card.classList.add('hidden');
        } else {
          card.classList.remove('hidden');
        }
      });

      // Toggle button text
      isExpanded = !isExpanded;
      btn.textContent = isExpanded ? 'Hide Cards' : 'Show All Cards';
      btnCon.style.paddingTop = isExpanded ? '24px' : '0px';
    });
  }
});
</script>
{% end_require_js %}